@import "node_modules/@unumux/theme-enterprise-default/styles";

// all pages *****************************************
* {
    box-sizing: border-box;
}
body {
    background: white; 
    color: #111;
    max-width: 915px;
    margin: 0 auto;
}
a, a:visited {
    color: #134b5b; // old # 467E8E
}
.infosite-link:link{
    color: #134B5B;
}
.infosite-link:visited{
    color: indigo;
}
.infosite-link:hover{
    color: darkred;
}
.infosite-link:active{
    color: mediumpurple;
}
.with-pdf-icon:after {
    content: url('http://unuminfo.com/_MasterTemplateGLTCv3/assets/pdficon1d.gif');
    padding-left: .5rem;
}
.infosite-h2{
    margin-top: 3rem;
}
.infosite-h2--extraspace{ // calc & enrollment
    margin-top: 6rem;
}
.willow-logo-link{
    color: white;
}
.willow-primary-nav__heading, .willow-footer-nav__heading{
    color: white;
}



// menu *****************************************
.infosite-overview-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px){
    .infosite-overview-banner{
        flex-direction: column;
    }
}
.infosite-cobrand-logo-placeholder{
    line-height: 0;
}
.infosite-cobrand-logofile{
    max-width: 300px;
}
.infosite-cobrand-logofile-whitespace{
    padding: 2rem;
    background-color: white;
}
.SetAsBlock{ // .net activated to remove flexbox when no cobranding logo is used
    display: block !important;
}

.infosite-footnote{
    margin-top: 3rem;
}
.infosite-footnote p{
    font-size: 1.4rem;
    color: #333;
}




// enrollment page *****************************************
.enrollment-link-li{
    padding-bottom: .4rem;
}




// footer *****************************************
.color-white{
    color:white;
}
.footer-extra-links{
    margin-top: .5em;
}
.willow-page-footer{
    margin-top: 3rem;
}