@import "node_modules/@unumux/theme-enterprise-default/styles";

// all pages *****************************************
* {
    box-sizing: border-box;
}
body {
    background: white; 
    color: #111;
    max-width: 915px;
    margin: 0 auto;
}
a, a:visited {
    color: #134b5b; // old # 467E8E
}
.infosite-h2{
    margin-top: 3rem;
}
.infosite-h2--extraspace{ // calc & enrollment
    margin-top: 6rem;
}
.willow-layout{
    padding: 0 2rem;
}
.willow-logo-link{
    color: white;
}
.willow-primary-nav__heading, .willow-footer-nav__heading{
    color: white;
}

// footer *****************************************
.color-white{
    color:white;
}
.footer-extra-links{
    margin-top: .5em;
}
.willow-page-footer{
    margin-top: 3rem;
}



// overview page *****************************************
.overview-h1{
    font-size: 3.8rem;
    margin-bottom: 0;
    margin-top: 3rem;
    line-height: 1.3;
}
.overview-h1-subhead{
    font-size: 2.1rem;
}
.infosite-row{
    display: flex;
    justify-content: space-between;
    //background-color:lightgreen;
}
@media screen and (max-width: 600px){
    .infosite-row{
        flex-direction: column;
    }
}
.infosite-col{
    flex: 0 1 45%;
    //background-color:yellow;
}
.piggy{
    width: 100px;
    float: right;
    margin-top: -1.5rem;
}
.infosite-orange{
    color: #C75302;  //E9801C
    font-weight: bold;
    font-size: 2rem;
}
.infosite-orange--large{
    font-size: 3rem;
}
.overview-bold-blue{
    color: #004B8D;
    font-weight: bold;
}
.overview-li-blue-text{
    color: #111;
    font-weight: normal;
}
.infosite-overview-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 600px){
    .infosite-overview-banner{
        flex-direction: column;
    }
}
.infosite-cobrand-logo-placeholder{
    line-height: 0;
}
.infosite-cobrand-logofile{
    max-width: 300px;
}
.infosite-cobrand-logofile-whitespace{
    padding: 2rem;
    background-color: white;
}
.list-item-spacer{
    margin-bottom: 1.7rem;
}
.infosite-footnote{
    margin-top: 3rem;
}
.infosite-footnote p{
    font-size: 1.4rem;
    color: #333;
}
.ADDcontent{
    display: none;
}
.SetAsBlock{
    display: block !important;
}
.overview-less-left-padding{
    padding-left: 2rem;
}
// withlogo = (hide .infosite-cobrand-logo-placeholder) + (.infosite-cobrand-logo-placeholder => display:block)
// overview page - end





// calc page *****************************************
.hideme{
    display: none !important;
}
.hiddenme{ // js class
    visibility: hidden;
}
.calc-box .col-width-50{ // extra specificity needed thus the .calc-box addition (js class)
    width: 50%;
}
.calc-box .col-width-100{ // extra specificity needed thus the .calc-box addition (js class)
    width: 100%;
}
.add-border-right{ // js class
    border-right: 2px dashed #d1d1d1;
}


// revised need calc +++++++++++
.life-need-calc{
    display: flex;
    max-width: 1900px; margin: 0 auto;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 600px){
    .life-need-calc{
        flex-wrap:wrap;
        & > *{
            width: 100%;
        }
    }
}
.life-need-calc-box{
    border: 2px dashed rgba(128, 128, 128, 0.7);
    border-radius: 1rem;
}
.life-need-calc-box--1{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .life-need-calc-box--2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.life-need-operator{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}
.life-need-calc-box--3{
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.life-need-control{
    padding: 1rem;
    text-align: center;
    & input{
        max-width: 100px;
        padding: .3rem;
    }
}
// revised need calc +++++++++++






// new calc @@@@@@@@@@@@@
.calc-col1{    background-color: #ebebeb;    border-top-left-radius: 10px;    border-top-right-radius: 10px;}
.calc-col2{    
    background-color: #d1d1d1;
    background-color: #ebebeb;
    border-left: 2px #d1d1d1 dashed;
    border-right: 2px #d1d1d1 dashed;
    border-top-left-radius: 10px;    
    border-top-right-radius: 10px;
}
@media screen and (max-width: 600px){
    .calc-col2{
        background-color: #d1d1d1;
        border-left: none;
        border-right: none;
    }
}
.calc-col3{    background-color: #ebebeb;    border-top-left-radius: 10px;    border-top-right-radius: 10px;}

.calc-box{
    display:flex;
}
@media screen and (max-width: 600px){
    .calc-box{
        flex-direction: column;
    }
}
.calc-col{
    display:flex;
    flex-direction: column;
    width: 33.33%;
    text-align:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    & > *{
        flex-basis: 100%;
        flex-grow:1;
    }
}
@media screen and (max-width: 600px){
    .calc-col{
        width: 100%;
    }
}
.label{
    margin-top: 2rem;
}
.col-header{
    font-size: 2rem;
    font-weight: bold;
}
.control input{
    display: inline-block; // override of willow block style
}
.calc-box-summary{
    text-align: center;
    background-color: #ebebeb;
    padding: 2rem;
    border-top: 2px solid #d1d1d1;
    font-size: 2rem;
}
.calc-box-eoi{
    text-align: center;
    background-color: #ebebeb;
    padding: 2rem;
    border-top: 2px solid #d1d1d1;
}
.control input, .control select{
    //background-color: lightyellow;
    //width: 100%;
    padding: .4rem 1rem;
    width: 130px;  //https://stackoverflow.com/questions/10672586/how-to-make-select-elements-shrink-to-max-width-percent-style-within-fieldset
    max-width: 130px;
}
.control input[type=checkbox]{
    width: auto;
    max-width: auto;
}
.life-calc-premium-display{
    font-weight: bold;
}

.calc-disclaimer{
    padding: 2rem 0;
}
// new calc @@@@@@@@@@@@@





// enrollment page *****************************************
.enrollment-link-li{
    padding-bottom: .4rem;
}
.with-pdf-icon{
    color: #134B5B;
}
.with-pdf-icon:visited{
    color: indigo;
}
.with-pdf-icon:hover{
    color: darkred;
}
.with-pdf-icon:active{
    color: mediumpurple;
}

.with-pdf-icon:after {
    content: url('http://unuminfo.com/_MasterTemplateGLTCv3/assets/pdficon1d.gif');
    padding-left: .5rem;
}
.pdf-reader-container{
    display: flex;
    align-items: center;
    & >*:nth-child(1){
        flex-basis: 30%;
    }
    & >*:nth-child(2){
        flex-basis: 70%;
    }
    margin-top: 6rem;
}
// enrollment page 